.testimonial-area{
    padding-top: 120px;
    padding-bottom: 90px;
    @media #{$medium_device}{
        padding-top: 90px;
    }
    @media #{$tab_device}{
        padding-top: 50px;
    }
    @media #{$xs}{
        padding-top: 50px;
    }
    
    .review-us{
        .rating-box {
            margin-top: -5px;
            font-size: 26px;
            line-height: 42px;
            font-weight: 500;
            font-family:$font2;
            color: #444;
            text-align: center;
            .rating-number {
                font-size: 61px;
                line-height: 1em;
                font-weight: 500;
                color: $theme-color;

            }
            .star-rating {
                color: $theme-color;
                line-height: 1em;
                margin-bottom: 12px;
                i{
                    font-size: 16px;
                }
            }
        }
    }

    .testimonial-caption{
        & p{
            font-size:25px;
            @media #{$tab_device}{
                font-size:20px;
                padding: 0 0px;
                font-size:17px;
            }
            @media #{$xs}{
                font-size:19px;
                padding: 0 10px;
                font-size:17px;
            }
            color: $heading_color;
            color:#191d34;
            line-height: 45px;
            line-height: 1.5;
            padding: 0 80px;
            margin-bottom: 37px;
        }
    }
    .rattiong-caption{
        & span{
            color:#112e41;
            font-size: 18px;
            font-weight: 400;
            text-transform: uppercase;
            & span{
                color: #767676;
                font-size: 16px;
                text-transform: capitalize;
            }
        }
    }
}

/* Homepage1 Testimonial */
.h1-testimonial-active{
    button.slick-arrow {
        position: absolute;
        top: 67%;
        left: -133px;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        background: none;
        border: 0;
        padding: 0;
        z-index: 2;
        opacity: 1;
        visibility: visible;
        height: 45px;
        width: 45px;
        line-height: 15px;
        border-radius: 50%;
        cursor: pointer;
        background:none;
        color:$theme-color;
        font-size: 20px;
        -webkit-transition: .4s;
        -o-transition: .4s;
        transition: .4s;
        
        @media #{$small_mobile}{
            left: -45px;
        }
         @media #{$small_mobile}{
            left: -45px;
        }
        
    } 
   button.slick-next {
        left: auto;
        right: -133px;
        @media #{$small_mobile}{
            right: -45px;
        }
    }
    &:hover button.slick-prev {
        left: -120px;
        @media #{$small_mobile}{
            left: 0;
        }
    }
    &:hover button.slick-next {
    right: -120px;
    @media #{$small_mobile}{
        right: 0;
    }
    }
    &:hover button {
        background: $theme-color;
        color: #fff;
    }
}

.testimonial-icon img {
	display: block;
	left: 0;
	right: 0;
    margin: 0 auto;
    width: auto;
}


// Testimonial Animation
.h1-testimonial-active .testimonial-icon img{
   border: 3px dashed transparent;
   border-radius: 50%;
}
.h1-testimonial-active:hover .testimonial-icon {
                
    .ani-btn {
        animation: 1.3s cubic-bezier(0.8, 0, 0, 1) 0s normal none infinite running pulse;
        box-shadow: 0 0 0 0 rgb(25, 206, 103);
        -webkit-animation: 1.3s cubic-bezier(0.8, 0, 0, 1) 0s normal none infinite running pulse;
     }
      
      @-webkit-keyframes pulse {
        to {
          box-shadow: 0 0 0 45px rgba(226, 14, 14, 0); } }
      
      @keyframes pulse {
        to {
          box-shadow: 0 0 0 45px rgba(230, 10, 10, 0); } 
        }
}


.slick-initialized .slick-slide {
    outline: 0;
}






/*--------- end feedback area  -------------*/

/*--------- start feedback  area -------------*/

.feedback-area{
    position: relative;
    padding-top: 90px;
    padding-bottom: 90px;
}


.overlay-bg{
    background-color:rgba(#04091e,.70);
    opacity: unset;
    &::before {
        position: absolute;
        content: "";
        background-color: transparent;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        opacity: unset;
    }
}


.feedback-left{
    background:url("../img/testmonial/video-bg.jpg") center;
    background-size:cover;
    padding:130px 0;
    @media(max-width:575px){
        margin:15px;
    }
    .play-btn{
        display: inline-block;
        width: 60px;
        height: 60px;
        line-height: 65px;
        text-align: center;
        border-radius: 50%;
        color: #ffffff;
        position: relative;
        top: 3px;
        z-index: 1;
        background:$theme-color;

        i{
            font-size: 20px;
            font-weight: 700;
            padding-left: 4px;
            color: #ffffff;
        }
        &::after {
            z-index: -1;
            content: "";
            position: absolute;
            left: 0;
            top: 0;
            width: 60px;
            height: 60px;
            -webkit-animation: ripple 1.6s ease-out infinite;
            animation: ripple 1.6s ease-out infinite;
            opacity: 0;
            border-radius: 50%;
            background:$theme-color;
        }
    }
    .overlay-bg{
        background-color: rgba(25, 206, 103, 0.54);
    }

    @media(max-width:991px){
        margin-bottom:30px;
    }
}

.feedback-right{
    .star{
        margin-left: 20px;
        .checked {
            color: orange;
        }
    }
    img{
        margin-bottom:20px;
    }

    .owl-carousel .owl-item img{
        width:auto!important;
    }     

    .owl-dots {
        text-align: left;
        bottom: 5px;
        margin-top:20px;
        width: 100%;
        -webkit-backface-visibility: hidden;
        -moz-backface-visibility: hidden;
        -ms-backface-visibility: hidden;
        backface-visibility: hidden;
    }

    .owl-dot {
        height: 10px;
        width: 10px;
        display: inline-block;
        background: rgba(127,127,127, 0.5);
        margin-left: 5px;
        margin-right: 5px;
        @include transition();

    }

    .owl-dot.active {
        @include transition;
        background:$theme-color;
    }   
}
@-webkit-keyframes ripple {
    0%, 35% {
      -webkit-transform: scale(0);
              transform: scale(0);
      opacity: 1;
    }
    50% {
      -webkit-transform: scale(1.5);
              transform: scale(1.5);
      opacity: 0.8;
    }
    100% {
      opacity: 0;
      -webkit-transform: scale(2);
              transform: scale(2);
    }
  }
/*--------- end feedback area  -------------*/