/* Banner */
 
@-webkit-keyframes rotateMe {
    from {
      -webkit-transform: rotate(0deg);
              transform: rotate(0deg);
    }
    to {
      -webkit-transform: rotate(360deg);
              transform: rotate(360deg);
    }
  }
  
  @keyframes rotateMe {
    from {
      -webkit-transform: rotate(0deg);
              transform: rotate(0deg);
    }
    to {
      -webkit-transform: rotate(360deg);
              transform: rotate(360deg);
    }
  }
  
  @-webkit-keyframes rotateMeTwo {
    from {
      -webkit-transform: rotate(0deg);
              transform: rotate(0deg);
    }
    to {
      -webkit-transform: rotate(-360deg);
              transform: rotate(-360deg);
    }
  }
  
  @keyframes rotateMeTwo {
    from {
      -webkit-transform: rotate(0deg);
              transform: rotate(0deg);
    }
    to {
      -webkit-transform: rotate(-360deg);
              transform: rotate(-360deg);
    }
  }
  /* Welcome  */
  @-webkit-keyframes a-one {
    0% {
      -webkit-transform: translate(0, 0);
              transform: translate(0, 0);
    }
    50% {
      -webkit-transform: translate(-20px, -20px);
              transform: translate(-20px, -20px);
    }
    100% {
      -webkit-transform: translate(0, 0);
              transform: translate(0, 0);
    }
  }
  
  @keyframes a-one {
    0% {
      -webkit-transform: translate(0, 0);
              transform: translate(0, 0);
    }
    50% {
      -webkit-transform: translate(-20px, -20px);
              transform: translate(-20px, -20px);
    }
    100% {
      -webkit-transform: translate(0, 0);
              transform: translate(0, 0);
    }
  }
  
  @-webkit-keyframes a-two {
    0% {
      -webkit-transform: translate(0, 0);
              transform: translate(0, 0);
    }
    50% {
      -webkit-transform: translate(20px, 20px);
              transform: translate(20px, 20px);
    }
    100% {
      -webkit-transform: translate(0, 0);
              transform: translate(0, 0);
    }
  }
  
  @keyframes a-two {
    0% {
      -webkit-transform: translate(0, 0);
              transform: translate(0, 0);
    }
    50% {
      -webkit-transform: translate(20px, 20px);
              transform: translate(20px, 20px);
    }
    100% {
      -webkit-transform: translate(0, 0);
              transform: translate(0, 0);
    }
  }
  @-webkit-keyframes a-seven {
    0% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
    50% {
      -webkit-transform: scale(1.1);
              transform: scale(1.1);
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
  }
  
  @keyframes a-seven {
    0% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
    50% {
      -webkit-transform: scale(1.1);
              transform: scale(1.1);
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
  }
  /* Main Services */
  
  @-webkit-keyframes moveBounce {
    0% {
      -webkit-transform: translateY(0px);
              transform: translateY(0px);
    }
    50% {
      -webkit-transform: translateY(20px);
              transform: translateY(20px);
    }
    100% {
      -webkit-transform: translateY(0px);
              transform: translateY(0px);
    }
  }
  
  @keyframes moveBounce {
    0% {
      -webkit-transform: translateY(0px);
              transform: translateY(0px);
    }
    50% {
      -webkit-transform: translateY(20px);
              transform: translateY(20px);
    }
    100% {
      -webkit-transform: translateY(0px);
              transform: translateY(0px);
    }
  }
  /* Appointment */
  
@-webkit-keyframes a-six {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  50% {
    -webkit-transform: translate(0, 40px);
            transform: translate(0, 40px);
  }
  100% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}

@keyframes a-six {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  50% {
    -webkit-transform: translate(0, 40px);
            transform: translate(0, 40px);
  }
  100% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}